/* commons_________________________________________________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.white{
    color: white;
    font-weight: bolder;
}

.upper{
    text-transform: uppercase;
}

.inline{
    display: inline-block;
}

/* MAIN (inizio dalla versione tablet)_____________________ */

main{
    display: flex;
    height: calc(100vh - 70px );
    background-color: #141922;
    color: #A3A3A3;
    font-size: 12px;
}

/* nav lato sinistro________________________________________ */

.nav1 img{
    width: 120px;
}

.nav1{
    padding: 15px 0px 5px 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
}

.nav1 h4{
    font-weight: bolder;
}

.nav1 .over ul li, .nav1 .down div{
    padding-left: 15px;
}

.nav1 ul{
    list-style: none;
}

.nav1 ul li{
    line-height: 30px;
}

.nav1 ul li a{
    text-decoration: none;
    vertical-align: middle;
}

.symbols i{
    font-size: 15px;
}

#plus{
    font-size: 30px;
}

.nav1 ul:not(:first-child){
    padding-top: 10px;
}

.nav1 ul li:hover{
    border-left: 2.5px solid greenyellow;
    color: white;
}

.over ul li.no-border:hover {
    border-left: none;
}

hr{
    width: 85%;
    background-color: #A3A3A3;
    height: 1px;
    border: 0;
    margin: 10px auto;
}

#ico-user{
    font-size: 21px;
    margin-top: 1px;
}

#plus, #ico-user, .symbols i{
    vertical-align: middle;
    margin-right: 4px;    
}

/*  
.down{
    justify-self: flex-end;
}*/

/* contenuto del sito_______________________________________ */

.content{
    width: calc(100% - 200px);
    height: calc(100vh - 140px);
}

/* bottone upgrade */
.upgrade{
    height: 60px;
    padding-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    text-align: right;
    line-height: 60px;
    position: fixed;
    width: calc(100% - 200px);
}

.upgrade button {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 550;
    margin-right: 5px;
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid white;
}

/* nav orizzontale */

.nav2{
    width: 100%;
    padding: 0 25px;
    text-align: center;
}

.nav2 a{
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    margin: 15px 5px;
}

/* sezione delle playlist */

.main-content{
    width: 100%;
    margin-top: 70px;
    overflow-y: auto;
    height: 100%;
}

.playlist{
    padding: 15px;
}

.playlist h1{
    color: white;
    font-weight: bolder;
    margin-bottom: 9px;
    font-size: 24px;
}

.title{
    padding-left: 1%;
    margin: 30px 0 24px;
}

.playlist .title:first-child{
    margin-top: 0;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container-img div{
    width: calc(100% / 4);
    padding: 1%;
}

.container-img img{
    width: 100%;
}

.container-img h3{
    color: white;
    font-weight: 600;
    margin: 11px 0 7px;
}

.artist img{
    border-radius: 50%;
}

/* footer____________________________________________________ */

footer{
    height: 70px;
    background-color: #282828 ;
    display: flex;
    justify-content: space-between;
    color: #A3A3A3;
    font-size: 11px;
    padding: 10px 5px;
    align-items: center;
    width: 100%;
    z-index: 9;
    position: fixed;
}

/* prima sezione footer */
.cont-recording{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.icon{
    display: flex;
    justify-content: center;
    width: 25%;
}

.icon i{
    padding-left: 12px;
    display: inline-block;
}

.playing{
    display: flex;

}

.desc{
    padding-left: 10px;
    align-self: center;
}

.playing img{
    height: 35px; 
/* 60% */
}

/* seconda sezione footer */

.cont-play{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.icon-play{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    color: white;
    margin: 0 auto 12px;
    align-items: center;
    width: 70%;
}

#icon-size20{
    font-size: 22px;
}

.play{
    width: 80%;
}

/* terza sezione footer */
.cont-volume{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.cont-volume input{
    width: 50%;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #A3A3A3;
    border-radius: 10px;  
    height: 3px; 
    align-self: center;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    -webkit-appearance: none;
    color: white;
}
  
input[type='range']::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 3px;
    cursor: pointer;
    background: white;
    box-shadow: -400px 0 0 400px white;
}

li.imgs{
    display: none;
}

/* debugs 

.nav1{
    background-color: red;
    
}

main{
    background-color: blue;
}

footer{
    background-color: blueviolet;
}
*/

@media screen and (max-width: 517px) {

    .nav1{
        width: 50px;
    }

    .nav1 span, .nav1 a, .nav1 h4, .nav1 hr, .imgl{
        display: none;
    }

    .nav1 img{
        width: 50%;
    }

    li.imgs{
        display: table;
    }

    .nav1 .over ul li, .nav1 .down div{
        padding: 0;
    }

    ul li{
        text-align: center;  
        margin: 0 auto;        
    }

    .symbols i, #ico-user{
        margin-right: 0;
    }

    .nav1 ul:not(:first-child){
        padding-top: 0;
    }

    .nav1 ul li {
        line-height: 25px;
    }

    .nav1 {
        padding: 5px 0px 5px 0px;
    }

    .container-img div{
        width: calc(100% / 2);
    }

    .down{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 50px;
    }

    .content{
        width: calc(100% - 50px);
    }
    
    /* bottone upgrade */
    .upgrade{
        width: calc(100% - 50px);
    }

    .icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icon i{
        padding: 3px 0px 0px 3px;
    }

    .cont-play{
        flex-grow: 1;
    }

    .cont-volume i{
        font-size: 9px;
    }

    .desc{
        font-size: 9px;
    }

    .play{
        width: 70%;
    }

}    

@media (min-width: 517px) and (max-width: 576px) {
    .container-img div{
        width: calc(100% / 2);}
}

@media all and (min-width: 576px) and (max-width: 768px){
    /* ho iniziato da qui */
}

@media screen and (min-width: 768px) {
    .cont-recording{width: 15%;}
    .cont-volume{width: 15%;}
    .container-img div{width: calc(100% / 6);}

}